html
  include includes/head.pug
  +head('Network Control Panel Home')
    script(src="/lib/moment.min.js")
    script(src="/lib/history.js")
  
  body
    #wrapper
      h1 Radio DJ History
      .buttons
        button(onclick='drawChart()') Refresh
      .info
        #queue_table
